parameters:
  level: 7
  paths:
    - app
  excludePaths:
    - app/Views
    - app/Config
  bootstrapFiles:
    - vendor/codeigniter4/framework/system/Test/bootstrap.php
  treatPhpDocTypesAsCertain: false
