/*
Syntax error: An @import loop has been found: /Users/zschneider/Sites/cta-api/styles/sass/foundation/functions/modular-scale.scss imports itself
        on line 3 of /Users/zschneider/Sites/cta-api/styles/sass/foundation/functions/modular-scale.scss
        from line 3 of /Users/zschneider/Sites/cta-api/styles/sass/foundation/functions/modular-scale.scss

1: /Users/zschneider/Sites/cta-api/styles/sass/foundation/functions/modular-scale.scss

Backtrace:
/Users/zschneider/Sites/cta-api/styles/sass/foundation/functions/modular-scale.scss:3
/Users/zschneider/Sites/cta-api/styles/sass/foundation/functions/modular-scale.scss:3
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:435:in `handle_import_loop!'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:219:in `visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `block in visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:44:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/usr/local/rvm/gems/ruby-1.9.3-p194/bin/compass:19:in `load'
/usr/local/rvm/gems/ruby-1.9.3-p194/bin/compass:19:in `<main>'
/usr/local/rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `eval'
/usr/local/rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: An @import loop has been found: /Users/zschneider/Sites/cta-api/styles/sass/foundation/functions/modular-scale.scss imports itself\A         on line 3 of /Users/zschneider/Sites/cta-api/styles/sass/foundation/functions/modular-scale.scss\A         from line 3 of /Users/zschneider/Sites/cta-api/styles/sass/foundation/functions/modular-scale.scss\A \A 1: /Users/zschneider/Sites/cta-api/styles/sass/foundation/functions/modular-scale.scss"; }
