@import "compass/reset";

// CTA Colors 
$red: #c60c30;
$blue: #00a1de;
$brown: #62361b;
$green: #009b3a;
$orange: #f9461c;
$purple: #522398;
$pink: #e27ea6;
$yellow: #f9e300;

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
}
strong, b {
	font-weight: bold;
}
em, i {
	font-style: italic;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.5em;
	line-height: 1.5em;
	display: block;
	margin-bottom: .5em;
}
h2 {
	font-size: 1.5em;
	line-height: 1.5em;
	color: #fefefe;
	display: block;

	a {
			color: #fefefe;
	}
	a:hover {
		color: #ccc;
	}
}
h3 {
	font-size: 1.3em;
	line-height: 1.3em;
	display: inline;
}
h4 {
	font-size: 1em;
	line-height: 1.2em;
	display: inline;
}

ul {
	list-style: none;
	display: block;
	li {
		list-style: none;
		display: block;
		padding:5px 0;
		margin: 0 0 10px;
	}
}

/* Train colors */
/* Red Line */
.Red {
	background: $red;
}

/* Blue Line */
.Blue {
	background: $blue;
}

/* Brown Line */
.Brown {
	background: $brown;
}

/* Green Line */
.Green {
	background: $green;
}

/* Orange Line */
.Orange {
	background: $orange;
}

/* Purple Line */
.Purple {
	background: $purple;
}

/* Pink Line */
.Pink {
	background: $pink;
}

/* Yellow Line */
.Yellow {
	background: $yellow;
}

.rt {
	padding: 5px 10px;
}


.stations {
	margin: 20px 0;

	h1 {
		color: #fff;
	}
}
.panel {
	display: block;
	min-height: 70px;
	padding: 17px 18px;
}
.panel:hover {
	background: #e6e6e6;
	border: solid 1px #f2f2f2;	
}


.color {
	margin: 0;
	h1 {
		color: #fff;
	}
	h2 {
		span {
			display: block;
			font-size: .7em;
		}
		.panel {
			border:none;
			background: none;			
		}
		.panel:hover {
			color:#fff;
			border:none;
			background: none;
		}		
	}
}
.color:hover {
	opacity: .7;
}