html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  display: block;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #fefefe;
  display: block;
}
h2 a {
  color: #fefefe;
}
h2 a:hover {
  color: #ccc;
}

h3 {
  font-size: 1.3em;
  line-height: 1.3em;
  display: inline;
}

h4 {
  font-size: 1em;
  line-height: 1.2em;
  display: inline;
}

ul {
  list-style: none;
  display: block;
}
ul li {
  list-style: none;
  display: block;
  padding: 5px 0;
  margin: 0 0 10px;
}

/* Train colors */
/* Red Line */
.Red {
  background: #c60c30;
}

/* Blue Line */
.Blue {
  background: #00a1de;
}

/* Brown Line */
.Brown {
  background: #62361b;
}

/* Green Line */
.Green {
  background: #009b3a;
}

/* Orange Line */
.Orange {
  background: #f9461c;
}

/* Purple Line */
.Purple {
  background: #522398;
}

/* Pink Line */
.Pink {
  background: #e27ea6;
}

/* Yellow Line */
.Yellow {
  background: #f9e300;
}

.rt {
  padding: 5px 10px;
}

.stations {
  margin: 20px 0;
}
.stations h1 {
  color: #fff;
}

.panel {
  display: block;
  min-height: 70px;
  padding: 17px 18px;
}

.panel:hover {
  background: #e6e6e6;
  border: solid 1px #f2f2f2;
}

.color {
  margin: 0;
}
.color h1 {
  color: #fff;
}
.color h2 .panel {
  border: none;
  background: none;
}
.color h2 .panel:hover {
  color: #fff;
  border: none;
  background: none;
}
.color h2 span {
  display: block;
  font-size: .7em;
}
.color:hover {
  opacity: .7;
}
