/* line 17, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/style.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
}

/* line 18, ../sass/style.scss */
strong, b {
  font-weight: bold;
}

/* line 21, ../sass/style.scss */
em, i {
  font-style: italic;
}

/* line 25, ../sass/style.scss */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 31, ../sass/style.scss */
h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  display: block;
  margin-bottom: .5em;
}

/* line 37, ../sass/style.scss */
h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #fefefe;
  display: block;
}
/* line 43, ../sass/style.scss */
h2 a {
  color: #fefefe;
}
/* line 46, ../sass/style.scss */
h2 a:hover {
  color: #ccc;
}

/* line 50, ../sass/style.scss */
h3 {
  font-size: 1.3em;
  line-height: 1.3em;
  display: inline;
}

/* line 55, ../sass/style.scss */
h4 {
  font-size: 1em;
  line-height: 1.2em;
  display: inline;
}

/* line 61, ../sass/style.scss */
ul {
  list-style: none;
  display: block;
}
/* line 64, ../sass/style.scss */
ul li {
  list-style: none;
  display: block;
  padding: 5px 0;
  margin: 0 0 10px;
}

/* Train colors */
/* Red Line */
/* line 74, ../sass/style.scss */
.Red {
  background: #c60c30;
}

/* Blue Line */
/* line 79, ../sass/style.scss */
.Blue {
  background: #00a1de;
}

/* Brown Line */
/* line 84, ../sass/style.scss */
.Brown {
  background: #62361b;
}

/* Green Line */
/* line 89, ../sass/style.scss */
.Green {
  background: #009b3a;
}

/* Orange Line */
/* line 94, ../sass/style.scss */
.Orange {
  background: #f9461c;
}

/* Purple Line */
/* line 99, ../sass/style.scss */
.Purple {
  background: #522398;
}

/* Pink Line */
/* line 104, ../sass/style.scss */
.Pink {
  background: #e27ea6;
}

/* Yellow Line */
/* line 109, ../sass/style.scss */
.Yellow {
  background: #f9e300;
}

/* line 113, ../sass/style.scss */
.rt {
  padding: 5px 10px;
}

/* line 118, ../sass/style.scss */
.stations {
  margin: 20px 0;
}
/* line 121, ../sass/style.scss */
.stations h1 {
  color: #fff;
}

/* line 125, ../sass/style.scss */
.panel {
  display: block;
  min-height: 70px;
  padding: 17px 18px;
}

/* line 130, ../sass/style.scss */
.panel:hover {
  background: #e6e6e6;
  border: solid 1px #f2f2f2;
}

/* line 136, ../sass/style.scss */
.color {
  margin: 0;
}
/* line 138, ../sass/style.scss */
.color h1 {
  color: #fff;
}
/* line 142, ../sass/style.scss */
.color h2 span {
  display: block;
  font-size: .7em;
}
/* line 146, ../sass/style.scss */
.color h2 .panel {
  border: none;
  background: none;
}
/* line 150, ../sass/style.scss */
.color h2 .panel:hover {
  color: #fff;
  border: none;
  background: none;
}

/* line 157, ../sass/style.scss */
.color:hover {
  opacity: .7;
}
